<main class="page karuna-water-project-page">
  <section class="landing-hero">
    <div class="container">
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>
  </section>
  <section class="title-section">
    <div class="container">
      <div class="spacer"></div>

      <h1 class="text-center">Karuna Water Project</h1>
      
      <div class="inner">
        <p>In most places in India, people do not have access to clean drinking water. Many people have to walk many miles to get water for them and their family. Karuna Water Projects aims to bring clean water to these communities making it accessible to all.</p>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>
  </section>
  <section class="gallery">
    <div><%= image_tag 'karuna-water-project-1.jpg' %></div>
    <div><%= image_tag 'karuna-water-project-2.jpg' %></div>
    <div><%= image_tag 'karuna-water-project-3.JPG' %></div>
    <div><%= image_tag 'karuna-water-project-4.JPG' %></div>
    <div><%= image_tag 'karuna-water-project-5.JPG' %></div>
    <div><%= image_tag 'karuna-water-project-6.jpg' %></div>
    <div><%= image_tag 'karuna-water-project-7.jpg' %></div>
    <div><%= image_tag 'karuna-water-project-8.JPG' %></div>
    <div><%= image_tag 'karuna-water-project-9.jpg' %></div>
    <div><%= image_tag 'karuna-water-project-10.JPG' %></div>
  </section>
  <div class="spacer"></div>
  <div class="spacer"></div>
</main>