<div class="body-overlay">
</div>
<div class="slide-nav">
  <div class="close">
    <button id="close-menu">CLOSE</button>
  </div>
  <div class="slide-menu">
    <nav>
      <ul>
        <li>
          <%= link_to "Home", '/' %>
        </li>
        <li>
          <%= link_to "Karuna Aid", '/karuna-aid', :relative => true %>
        </li>
        <li>
          <%= link_to "Karuna Covid Relief", '/karuna-covid-relief', :relative => true %>
        </li>
        <li>
          <%= link_to "Karuna Water Project", '/karuna-water-project', :relative => true %>
        </li>
        <li>
          <%= link_to "Karuna Kendra Study Center", '/karuna-kendra-study-center', :relative => true %>
        </li>
        <li>
          <%= link_to "Audited Statements", 'https://www.notion.so/karunasociety/Karuna-Welfare-Society-df70681b9ece4cf89a86acd283621a59' %>
        </li>
      </ul>
    </nav>
  </div>
</div>